<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="common/header :: common-header" />
<body roleId="page-top" data-spy="scroll"
	data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar" />
<div class="container">

<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Reset Head Count</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6">
			<form th:action="@{/headcount/resetcount}" method="post">

				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />

				<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
			</form>

			<div class="col-md-6"></div>
		</div>
	</div>
</div>


<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>