<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="common/header :: common-header" />
<body roleId="page-top" data-spy="scroll"
	data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar" />
<div class="container">

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">
				Reset Head Count
				<button type="button" class="btn btn-info" data-bs-toggle="modal"
					id="helpButton" data-bs-target="#exampleModal">?</button>
			</h1>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Reset Head
							Count-Help</h3>
					</div>
					<div class="modal-body">

						<ul>
							<li>If the current count is not zero and you need to start
								it from zero click the following button and proceed.</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<form th:action="@{/headcount/resetcount}" method="post">

				<input type="hidden" name="${_csrf.parameterName}"
					value="${_csrf.token}" />

				<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
			</form>

			<div class="col-md-6"></div>
		</div>
	</div>
</div>


<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>