<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">
<head th:replace="common/header :: common-header" />
<body roleId="page-top" data-spy="scroll"
	data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar" />

<div class="container">

	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Daily Statistics <button type="button" class="btn btn-info" data-bs-toggle="modal"
					id="helpButton" data-bs-target="#exampleModal">?</button></h1>
		</div>
		
		<div class="modal fade" id="exampleModal" tabindex="-1"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h3 class="modal-title" id="exampleModalLabel">Daily Statistics-Help</h3>
					</div>
					<div class="modal-body">

						<ul>
							<li>If you would like to download the in/out records for a particular day, use this report to proceed. 
							 </li>
							 <li>Report is also downloadable in Excel format.
							 </li>
						</ul>
					</div>

				</div>
			</div>
		</div>
		
	</div>

	<div class="row text-center">

		<div class="col-xs-4 form-inline">
			<form class="form-group" method="post" th:action="@{/headcount/stat}">
				<div class="form-group">
					<label for="dateString"> Date:</label>
				</div>
				<div class="form-group">
					<div class="input-group date" id='datetimepicker4'>
						<input type='text' class="form-control" th:value="${dateString}"
							name="dateString" id="dateString" required="required" /> <span
							class="input-group-addon"><i class="fa fa-calendar"
							aria-hidden="true"></i></span>

					</div>
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>

		<div class="col-xs-3">

			<p style="font-size: 25px;">
				[[${entryCount}]] <small>(total entry count) </small>
			</p>

		</div>

		<div class="col-xs-3">
			<p style="font-size: 25px;">
				[[${exitCount}]] <small>(total exit count) </small>
			</p>

		</div>

		<div class="col-xs-2">

			<form method="get" th:action="@{/headcount/stat_excel}">

				<input type="hidden" th:value="${dateString}" name="dateString"
					id="dateString" required="required" />

				<button type="submit" class="btn btn-primary">Download data
					in Excel</button>

			</form>
		</div>

	</div>


	<h3 align="center">Patrons movement on [[${dateString}]]</h3>

	<div class="table-responsive">
		<table id="example"
			class="table table-bordered table-hover table-striped">
			<thead>
				<tr>
					<th>Time</th>
					<th>Entry / Exit</th>
					<th>Live count</th>
					<th>Count</th>
					<th>User</th>

				</tr>
			</thead>
			<tbody>
				<tr data-th-each="stat : ${statList}">
					<td data-th-text="${stat.date}">...</td>
					<td
						data-th-text="${stat.reset} ? 'Reset' : ( ${stat.entry} ? 'Entry' : 'Exit')">...</td>

					<td data-th-text="${stat.reset} ?  '-' : ${stat.liveCount} ">...</td>
					<td data-th-text="${stat.reset} ?  '-' : ${stat.count}  ">...</td>
					<td
						data-th-text="${stat.user.firstName} + ' ' +  ${stat.user.lastName}">...</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<div th:replace="common/header :: body-bottom-scripts" />
<script>
	$(document).ready(function() {
		$('#example').DataTable();
	});
</script>
</body>
</html>